<!DOCTYPE html>
<html lang="es">
    <head>
        <title>JavaScript</title>
        <link rel="stylesheet" href="../style/style.css">
        <!--Los comentarios para HTML es así:-->        
    </head>
    <body>
        <h1>Lenguaje de programación JavaScript</h1>
        <p>Este lenguaje se utiliza en toda la WEB y principalmente para manipular HTML y CSS</p>
    <script src="../scripts/scripts.js">
    </script>
        <h2>Tema 3: funciones</h2>
        <p>Las <Strong>funciones</Strong> son segementos de código que realizan una función específica. Las <strong>funciones</strong> pueden tener variables de entrada para cambaiar su comportamiento, y normalmente nos regresa un resultado al finalizar.</p>
        <h3>¿Cómo inplementar una función en JavaScript?</h3>
        <p>Para implementar funciones, utilizamos la palabra reservada <strong>function</strong> seguido de paréntesis en donde podemos tener variables de entrada <strong>(Parámetros o Argumentos)</strong> para que modifique el comportamiento de la función. Después se abren llaves las cuales contiene las líneas de código que se ejecutarán cuando se manda a llamar la función, ejemplo:</p>
        <img src="../img/Funcion_1.png" alt="Ejemplo1" title="Ejemplo1">
        <h3>¿Cómo ejecuto una función?</h3>
        <p>Para ejecutar una función debemos llamarla y podemos hacer ésto cuantas veces queramos. Es por esto que son útiles para reutilizar código. Ésto se hace muy fácilmente, escribimos el nombre de la función junto con sus parámetros que, en el caso anterior serían <strong>a y b</strong>. Si solo escribiéramos un parámetro en la llamada, JavaScript nos arrojaría un error de ejecución debido a que la función que estamos usando requiere 2 parámetros, ejemplo:</p>
        <img src="../img/Funcion_2.png" alt="Ejemplo2" title="Ejemplo2">
        <p>Como podemos ver, se crea una variable llamada repuesta y en esa variable se llama la función anterioemente creada y se asignan los valores <strong>integer 2 y 3</strong>. Después de ésto haces uso de una función de JavaScript llamda <Strong>Console.log</Strong> que nos muestra el parámetro en la consola.</p>
        <h3>Funciones que no reciben parámetros</h3>
        <p>Si una <strong>función no tiene return</strong>, su valor será undefined por defecto. Estas funciones se usan cuando quieres que realicen una tarea o acción específica, pero no necesitas que devuelvan nigún valor. Ejemplo:</p>
        <img src="../img/Funcion_3.png" alt="Ejemplo3" title="Ejemplo3 hell oh yeah">
    </body>
</html>